.global{
    width: 60%;
}

.rising{
    width: 60%;
}

.rising0{
    width: 60%;
}

.fossil{
    width: 60%;
}

.h4{
    
}

.copy2{
    text-align: center;
    position: relative;
}