.copy5{
    text-align: center;
    position: relative;
    top: 30px;
}

.p0{
    width: 60%;
}

.his{
    width: 60%;
}

.rec{
    width: 60%;
}

.bins{
    width: 60%;
}

.pow{
    width: 60%;
}